body {
  background-color: #f4e9fe;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  padding: 32px;
  margin-bottom: 30px;
}

header img {
  width: 300px;
}

h1 {
  font-size: 52px;
  color: #5933c4;
}

main {
  width: 70%;
  padding: 32px;
  margin: 32px auto;
  color: rgb(248, 241, 218);
  background-color: #774bd7;
  border-radius: 8px;
}

a {
  text-decoration: none;
  padding: 5px;
  background-color: #feefae;
  border-radius: 5px;
}

footer {
  text-align: center;
}

footer a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #f8ca23;
  border-radius: 5px;
  margin-top: 20px;
}

footer p {
  color: gray;
}
