body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(246, 239, 248);
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: rgb(131, 40, 250);
}

#players-section {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.player-card {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(241, 227, 255);
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
}

#start-section {
    text-align: center;
}

#start-section button{
    color: white;
    padding: 0.5rem 1rem;
    background-color: rgb(131, 40, 250);
    border-color: rgb(131, 40, 250);
    border-radius: 4px;
}

#start-section button:hover {
    background-color: rgb(80, 9, 172);
}